/* Reset and base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Syne", sans-serif;
}

.logo img {
  width: 80px;
  height: 50px;
  padding-right: 20px;
}

.gap {
  margin-top: 40px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 3.75rem;
  margin-left: auto;
  text-align: center;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  background-color: rgb(0, 0, 0, 0.5);
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px); /* Safari support */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-links a {
  margin-left: 2rem;
  text-decoration: none;
  color: #ffffff;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.img1 img {
  height: 100px;
  width: 100px;
  align-items: center;
}

.img1 {
  border: 1px solid;
  color: #6bffafa3;
  border-radius: 2rem;
  padding: 0.5rem 1.25rem;
  height: 7rem;
  margin: 38px;
  border-width: 1px;
  width: 350px;
  margin: auto;
}

.but {
  background-color: #6bffaf26;
  border: 1px solid #6bffaf40;
  border-radius: 14px;
  height: 40px;
  width: 140px;
  font-size: 20px;
  align-items: center;
  display: flex;
  padding-left: 10px;
}

.but a {
  color: #6bffafa3;
  text-decoration: none;
}

.subimg {
  height: 200px;
  width: 400px;
}

.main {
  text-align: center;
  /* background-image: url(./bgimg.jpg); */
  background-size: 100% 100%;
  height: 710px;
  background-color: #000000;
}

.main h1 {
  font-size: 46px;
  color: #ddffed;
  padding-top: 140px;
}
.textcolorgreen {
  color: #6bffaf;
}

.main p {
  font-size: 20px;
  color: #ffffff;
  padding-top: 10px;
  font-family: sans-serif;
}

.secondmain {
  background-color: #ddffed;
  background-size: 100% 100%;
  height: 730px;
  padding-left: 100px;
  padding-top: 100px;
}

.secondmain h1 {
  font-size: 32px;
  padding-bottom: 20px;
}

.secondpara p {
  font-size: 20px;
  font-family: sans-serif;
  padding-top: 26px;
  border-bottom: 1px solid #0000004d;
  /* display: inline-block; */
  padding-bottom: 26px;
  padding-left: 16px;
  width: 580px;
  font-weight: 600;
  color: #0d2a1a;
}

.secondmain span {
  color: #13af5b;
}

/* .secondpara {
} */

.but2 {
  border: 2px solid;
  border-radius: 60px;
  background-color: #000000;
  padding: 20px;
  font-size: 17px;
  width: 340px;
  height: 20px;
  align-items: center;
  display: flex;
  font-weight: 600;
  font-family: sans-serif;
  margin-top: 40px;
}

.but2 a {
  color: #6bffaf;
  text-decoration: none;
}

.thirdmain {
  background-color: #000000;
  height: 700px;
  text-align: center;
}

.thirdmain h2 {
  color: #6bffaf;
  font-weight: 600;
  padding-top: 140px;
  font-size: 24px;
}

.thirdmain a p {
  color: #ffffff;
  font-weight: 400;
  padding-top: 500px;
  text-decoration: underline;
  text-decoration-color: #6bffaf;
}

.thirdmain p {
  color: #ffffff;
  padding-top: 24px;
  font-size: 20px;
}

.images {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.Automotive {
  background-image: url(./Images/car.webp);
  height: 580px;
  width: 400px;
  background-size: cover;
}

.HomeDecor {
  background-image: url(./Images/deco.jpg);
  height: 580px;
  width: 400px;
  background-size: cover;
}

.Fashion {
  background-image: url(./Images/fashion.jpg);
  height: 580px;
  width: 400px;
  background-size: cover;
}

.More {
  background-image: url(./Images/exploremore.jpg);
  height: 580px;
  width: 400px;
  background-size: cover;
}

.fourthmain {
  background-color: #ddffed;
  background-size: 100% 100%;
  height: 1000px;
  justify-items: center;
  padding-top: 200px;
}

.fourthmain h2 {
  font-weight: 600;
  padding-top: 60px;
  font-size: 24px;
  text-align: center;
}

.fourthmain p {
  font-size: 20px;
  text-align: center;
  padding-top: 20px;
}

.but3 {
  border: 2px solid;
  border-radius: 60px;
  background-color: #000000;
  padding: 20px;
  margin-top: 30px;
  height: 18px;
  width: 235px;
  font-size: 18px;
  font-weight: 400;
  font-family: sans-serif;
  align-items: center;
  display: flex;
}

.but3 a {
  color: #6bffaf;
  text-decoration: none;
}

.gwagon {
  background-image: url(./Images/blackcar.jpg);
  height: 400px;
  width: 800px;
  background-size: cover;
  padding-top: 360px;
  text-align: center;
  margin: 40px;
}

.gwagon a {
  color: #6bffaf;
  text-decoration: none;
}

.fifthmain {
  background-color: #000000;
  background-size: 100% 100%;
  height: 1000px;
  justify-items: center;
  color: #ffffff;
  padding-top: 122px;
}

.fifthmain h1 {
  font-size: 32px;
}

.fifthmain span {
  text-align: center;
  display: block;
}

.bike {
  background-image: url(./Images/orange\ bike.jpeg);
  background-size: cover;
  height: 500px;
  width: 748px;
  margin: 60px;
}

.bike a {
  text-decoration: underline;
  text-decoration-color: #6bffaf;
  color: #ffffff;
  text-align: center;
  display: block;
  padding: 100px;
  font-weight: 200;
}

.but4 {
  border: 2px solid;
  border-radius: 60px;
  background-color: white;
  width: 200px;
  height: 40px;
  font-size: 18px;
}

.but4 a {
  text-decoration: none;
  color: #000000;
  align-items: center;
  display: flex;
  padding: 8px;
  padding-left: 16px;
  font-weight: 600;
}

.sixth {
  background-color: #ddffed;
  height: 530px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sixth h1 {
  font-size: 32px;
  padding-left: 185px;
  padding-top: 20px;
}

.sixth p {
  font-size: 20px;
  font-family: sans-serif;
  padding-left: 185px;
  padding-top: 25px;
  line-height: 1.6;
  font-weight: bold;
}

.sixth span {
  color: #13af5b;
}

.but5 {
  border: 2px solid;
  border-radius: 20px;
  background-color: #000000;
  width: 235px;
  height: 40px;
  font-size: 16px;
  align-items: center;
  display: flex;
  margin: -14px;
  margin-left: 190px;
  font-weight: bold;
}

.but5 a {
  text-decoration: none;
  color: #6bffaf;
  padding: 11px;
}

.sixth img {
  height: 340px;
  width: 600px;
  margin-right: 190px;
  margin-top: 90px;
  border-radius: 30px;
}

.seventh {
  background-color: #000000;
  height: 1000px;
}
